.Rproj.user
.Rhistory
.RData
.Ruserdata
*.docx
*.pdf
*.key
keuangan/
*pembayaran*.jpeg
*FBA-2022*.jpg
*.doc
*.gdoc
*Penelitian*.xlsx
*.ppt
Teknometer*
proposal*.xlsx
PLUNDER*.xlsx
PLUNDER*.txt
SN[A-Z]TCH*.txt
JOY*.txt
HAPPINESS*.txt
SENASTEK/*.docx
SENASTEK/*.pdf
quantitative-analyses*